@import "bootstrap/variables";
@import "horizon/variables";
@import "/horizon/lib/font_awesome/scss/variables";

/* Custom Variables */
$font-size-base: 16px;
$brand-color: #B5BD00;
$topbar-link-hover: #aab302;
$white: #fff;
$light-grey: #f7f7f7;

$brand-primary: $brand-color;

$nav-active-color: #959c01;
$nav-hover-color: #aab302;

$table-bg: #efefef;
