{% load i18n splitfilter %}



<div class="nav-item dropdown">

{% for message in messages %}
  {% if "info" in message.tags %}
  <a href="#" class="dropdown-item">
    <span id="notifications-info" class="notifications-icon"></span>
    <h6 class="fw-normal mb-0">{% trans "Info: " %}</h6>
    <small class="message-detail">{{ message }}</small>
  </a>
  <hr class="dropdown-divider">  
    
  {% endif %}


  {% if "warning" in message.tags %}
  <a href="#" class="dropdown-item">
    <span id="notifications-warning" class="notifications-icon"></span>
    <h6 class="fw-normal mb-0">{% trans "Warning: " %}</h6>
    <small class="message-detail">{{ message }}</small>
  </a>
  <hr class="dropdown-divider">

  {% endif %}



  {% if "success" in message.tags %}
  <a href="#" class="dropdown-item">
    <span id="notifications-success" class="notifications-icon"></span>
    <h6 class="fw-normal mb-0">{% trans "Success: " %}</h6>
    <small class="message-detail">{{ message }}</small>
  </a>
  <hr class="dropdown-divider">

  {% endif %}


  {% if "error" in message.tags %}
   
      
      
        {% with message.message as messages %}
        <a href="#" class="dropdown-item">
          <span id="notifications-success" class="notifications-icon"></span>
          <h6 class="fw-normal mb-0">{% trans "Error: " %}</h6>
          <small class="message-detail">{{ messages }}</small>
        </a>
        <hr class="dropdown-divider">
      
    
    {% endwith %}
  {% endif %}
{% endfor %}
</div>
