{% load branding horizon i18n %}

    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
      <nav class="navbar bg-secondary navbar-dark">
          <a href="index.html" class="navbar-brand mx-4 mb-3">
            <img class="openstack-logo" src="/static/dashboard/img/Lorius_Etapa2.png" alt="Lorius Dashboard">
          </a>
          <div class="d-flex align-items-center ms-4 mb-4">
              <div class="position-relative">
                  <img class="rounded-circle" src="/static/dashboard/img/lorius_user.png" alt="user" >
                  <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
              </div>
              <div class="ms-3">
                  <h6 class="mb-0">Jhon Doe</h6>
                  <span>Admin</span>
              </div>
          </div>


        
            <nav id='sidebar'>
              {% horizon_nav %}
            </nav>



           
          </div>
      </nav>
  </div>
  <!-- Sidebar End -->